<h1>Fotke</h1>
<div style="float: left" class="col-md-6 form-horizontal" ng-init="getFotka()">
	<div class="form-group">
		<div class="col-md-6">
			<label>Datum fotografisanja</label>
		</div>
		<div class="col-md-6">
		<input class="form-control" type="text" ng-value="fotka.datumNastankaFotografije| date:medium" />

		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<label>Datum slanja fotografije</label>
		</div>
		<div class="col-md-6">
			<input class="form-control" type="text"  ng-value="fotka.datumSlanjaFotografije | date:medium">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<label>Događaj fotografisanja</label>
		</div>
		<div class="col-md-6">
			<input class="form-control" ng-model="fotka.dogadjajFotografisanja">
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6">
			<label>ime_fotografa</label>
		</div>
		<div class="col-md-6">
			<input class="form-control" ng-model="fotka.imeFotografa">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<label>mesto_fotografisanja</label>
		</div>
		<div class="col-md-6">
			<input class="form-control" ng-model="fotka.mestoFotografisanja">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<label>Korisnik koji je poslao fotku</label>
		</div>
		<div class="col-md-6">
			<input class="form-control"
				ng-model="fotka.userKojiJePostavioFotografiju">
		</div>
	</div>

</div>
<div style="float: right" class="col-md-6 form-vertical">
	<img ng-show="fotka.fotografijaFajl" ng-src="{{fotka.fotografijaFajl}}" height="350">
</div>
</table>
<div class="col-md-4 col-md-offset-4">
		<button class="btn btn-danger" ng-click="deleteFotka(fotka.id)">Obrisi
			Fotku </button>obrisace iz baze, ali sama fotka ostaje u folderu!Samo dok se testira, posle ce samo da je oznaci kao da je obrisana i sakrije
	</div> 
<div class="col-md-12 text-right">
<button class="btn btn-default" ng-disabled="hasPreviousFotka==0" ng-click="previousFotka=1;getFotka(fotka.id)">Prethodna fotka</button>
<button class="btn btn-default" ng-disabled="hasNextFotka==0"ng-click="previousFotka=0;getFotka(fotka.id)">Sledeća fotka</button>


</div>


